

*{
    margin: 0;
    padding: 0;
    text-decoration: none; /*quita la linea de los enlaces*/
    list-style: none; /*quita las viñetas*/
}

body{
    font-family: "Playpen Sans", cursive;
    background: linear-gradient(#FEFEFE,#FEFEFE,#99e1dc, #0e737838);
}

.encabezado {
    background-color: #DBF9FC; /* Color de fondo del encabezado */
    text-align: center; /* Alineación del texto en el centro */
    padding: 20px; /* Espaciado interno del encabezado */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.comida {
    text-align: center; /* Alineación del texto en el centro */
    color: #344a4d;
}

.comida ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    display: flex; /* Utiliza flexbox para alinear elementos en una fila */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

.imgcomida img {
    width: 250px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin-right: 10px; /* Añade espacio entre la imagen y el texto */
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor manteniendo la proporción */
}

.imgcomida:hover{
    opacity: 0.6;
    cursor: pointer;  
}

.comida li {
    margin: 30px; /* Añade espacio entre los elementos de la lista */
}

.info{
    color: rgba(128, 159, 159, 0.884);
}

.titulo-principal{
    font-size: 3em;
    color: rgba(23, 93, 94, 0.91);
    font-weight: bold;
    cursor: pointer;    
}
.titulo-principal:before{
    content: "»        ";
}
.titulo-principal:after{
    content: "        «";
}

.nombre-comida{
    font-size:20px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    cursor: pointer;  
}

.item{
    line-height: 1.5 ;
    display: block;
    color: rgb(38, 58, 92);
}

.item:before{
    content: "⚝     ";
}
